.user-info {
    display: flex;
    flex-direction: row;
    border-bottom: 1px solid gray;
}

.userPic {
    width: 200px;
    height: 200px;
    margin: 1rem 5rem 0 18rem;
}

.userName {
    margin: 1rem 1rem 1rem 1rem;
}

.stats {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 1.5rem;
    width: 600px;
}

.description { 
    display: flex;
    padding: 1rem;
}

.shared-pictures-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 1rem 15rem;
    width: auto;

}

.user-posts {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;

}

.image {
    width: 300px;
    height: 300px;
    margin: 1rem;
}