.login{
    height: 100vh;
    background-image: "/image/catdog.png";
}

h1 {
    color: rgb(67, 181, 243);
}

.logoBox {
    top: 50%;
    position: absolute;
    -ms-transform: translateY(-50%);
    left: 50px;
    transform: translateY(-50%);
}

.loginBox {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 50px;
    background-color: rgb(255, 255, 255);
    border-radius: 30px;
    top: 50%;
    position: absolute;
    right: 50px;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

input {
    margin-bottom: 20px;
    height: 50px;
    font-size: 20px;
    padding-left: 10px;
    width: 400px;
    border-radius: 10px;
    border: 0.5px solid rgb(188, 188, 188);;
}

.description {
    height: 150px;
}

.loginBtn {
    height: 50px;
    font-size: 20px;
    margin-bottom: 20px;
    width: 400px;
    border: 0;
    background-color: rgb(67, 181, 243);
    color: white;
    border-radius: 8px;
}

.newAccountBtn {
    height: 50px;
    color: white;
    font-size: 20px;
    width: 400px;
    border: 0;
    border-radius: 8px;
    background-color: rgb(180, 180, 180);
}
/* 
img {
    width: 300px;
    
} */