.postBox {
    width: 700px;
    height: 1000px;
    border: 0.5px rgb(165, 162, 162) solid;
    border-radius: 30px;
    margin: 0 auto;
    margin-top: 30px;
    display: grid;
    grid-template-rows: 10% 50% 4% 6% 30% ;
    max-width: 1000px;
    background-color: white;
    position: relative;
}
.postTop{
    display: flex;
    align-items: center;
}

.userName{
    position: relative;
    float: left;
    font-size: 24px;

}
.postImage {
    grid-row: 2 ;
    max-width: 100%;
    max-height: 100%;
    object-fit: cover;
}
.likeButton{
    border: none;
    background-color: white;
    display: inline-block;
    height: 40px;
    cursor: pointer;
}
.postIcon {
    grid-row: 3;
    display: flex;
    justify-content: space-between;
}
.captionSection{
    margin-left: 1rem;
    margin-top: 1rem;
}
.likeHeart{
    margin-left: .7rem;
}
.hide{
    width: 100%;
    line-height: 1.2em;
    height: 3.6em; 
    background-color: #363636;
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
}
.caption{
    white-space: nowrap; 
    width: 600px; 
    overflow: hidden;
    text-overflow: ellipsis; 
}
.comment {
    margin-top: 1rem;
    margin-left: 1rem;
    width: 95%;
    background-color: rgb(246, 240, 240);
    border: none;
<<<<<<< HEAD
<<<<<<< HEAD
    position: absolute;
    bottom: 0;
=======
>>>>>>> 5a79f9d (postbox adjustments)
=======
    position: absolute;
    bottom: 0;
>>>>>>> 824880c (comment at bottom of div)
}
.commentSection {
    white-space: nowrap; 
    width: 600px; 
    overflow: hidden;
    text-overflow: ellipsis; 
    margin-left: 1rem;
<<<<<<< HEAD
<<<<<<< HEAD
    margin-top: 1rem;
=======
>>>>>>> 5a79f9d (postbox adjustments)
=======
    margin-top: 1rem;
>>>>>>> 824880c (comment at bottom of div)
}
.saveButton{
    margin-right: .8rem;
}